body {
    color: #444444;
}

.inner,
.container {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    line-height: 1;
}

.flex {
    display: flex;
    flex-direction: row;
}

.sec {
    padding: 100px 0;
}


.header {
    position: relative;
    line-height: 100px;
    background: #f9f9f9;
}


.header h1 img {
    width: 150px;
    vertical-align: middle;
}

.header nav {
    margin: 0 0 0 auto;
}

.header nav>ul {
    display: flex;
    gap: 30px;
}

.header nav>ul>li {
    position: relative;
}

.header nav>ul>li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0;
    height: 3px;
    background: #000080;
    transition: 0.3s;
}


.header nav>ul>li:hover::after {
    width: 100%;
}

.header .right {
    position: absolute;
    top: 0;
    right: 50px;
}

.header .inner {
    justify-content: space-between;
}

.header .gnb>ul {
    gap: 60px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    width: 1px;
    height: 12px;
    background: #ddd;
    transform: translate(0, -50%);
}

.mainVisual {
    position: relative;
    height: 700px;
    background: url(./main05.jpg) no-repeat center center/cover;
}

.mainVisual .inner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .inner h2 {
    display: block;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 40px 0;
}


.mainVisual .inner p {
    font-size: 15px;
    font-weight: 300px;
    color: #fff;
    line-height: 25px;
}

.inner figure {
    position: relative;
    flex: 1;
    overflow: hidden;
}


.model {
    padding: 100px 0;
    background: #fff;
    text-align: center;

}

.model h2 {
    font-size: 30px;
    font-weight: bolder;
}

.model p {
    font-size: 20px;
    padding: 20px 0;
}

.inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.inner figure .box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.inner figure:hover .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: (0, 0, 0, 0.7);
    opacity: 1;
}



.brand {
    margin: 0 0 100px 0;
    background: #fff;
    text-align: center;

}


.brand h2 {
    font-size: 30px;
    font-weight: bolder;
}

.brand p {
    font-size: 20px;
    padding: 20px 0;
}


.inner figure .box2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.inner figure:hover .box2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: (0, 0, 0, 0.7);
    opacity: 1;
}



.footer {
    padding: 50px 0;
    text-align: center;
    background: #f9f9f9;
}

.footer .list {
    font-size: 0;
    margin: 0 0 10px 0;
}

.footer .list li {
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
}

.footer .list li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
}

.footer .list .bold {
    font-weight: 500;
}